/* GLOBAL */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: SoDoSans, Helvetica Neue,Helvetica,Arial,sans-serif;
}

/* NAV */

header{
  border-bottom: solid 1.6px #1e39322d;

  .nav_stick{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 15px;
    position: fixed;
    top: 0;
    background-color: #fff;
    border-bottom: 1.6px solid #0000002d;
    width: 100%;
    height: 10.1vh;
    max-width: none;
    z-index: 100;

    .bam a .logo{
      max-height: 50px;
      margin: 22px 25px 20px 25px;
      padding-right: 10px;
    }

    .kisz{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100px;

      .nav_selected{
        margin: 0px;
        padding: 0px;
        border-bottom: 5px solid #008248;
      }

      .lift{
        border-bottom: 5px solid #00824800;
      }

      li, a, button{
        font-weight: 750;
        font-size: 14px;
        text-decoration: none;
        color: #000000;

        &:hover{
          color: #008248;
        }
      }

      .nav_links{

        .nav_link_2{
          margin-right: 20px;
          padding: 4vh 0px;
        }
      } 
    }

    nav{
      margin-right: auto;
      padding-left: 0px;
      
      .nav_links{
        list-style: none;
        letter-spacing: 1.3px;
        margin-left: 0px;

        li{
          display: inline-block;
          margin-right: 20px;
        }

        a{
          transition: all 0.3s ease 0s;
        }

        a:hover{
          color: #008248;
        }
      }
    }

    .geo{
      i{
        font-size: 20px;
        margin-right: 12px;
        transform: translateY(2px);
      }

      a{
        margin-right: 20px;
        transition: all 0.3s ease 0s;

        &:hover{
          color: #008248;
        }
      }
    }
  }
}

.cta{
  margin-left: 20px;
  padding: 8px 16px;
  background-color: rgba(255, 255, 255, 0);
  border: solid 1.5px #000000;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  transform: translateX(-10px);
  font-weight: 700;
  font-size: 16px;

  &.black{ 
    background-color: #000000;
    color: #fff;

    &:hover{
      background-color: #252525c4;
    }
  }

  &.transparent{
    background-color: #00000000;
    color: #000000;

    &:hover{
      background-color: #3131311a;
    }
  }

  &.transparent_contrast{
    background-color: #00000000;
    color: #ffffff;
    border-color: #fff;

    &:hover{
      background-color: #bdbdbd1a;
    }
  }
}

// bottom nav @menu

.sub_nav_stripe{
  position: fixed;
  top: 10vh;
  max-width: initial;
  margin: 0px;
  padding: 0px;
  font-size: 13px;
  background-color: rgb(245, 245, 245);
  border-bottom: 1px solid #00000023;

  .sub_nav{
    display: flex;
    justify-content: flex-start;
    margin: 13px 0px 13px 125px;
    padding: 0px;

    a{
      margin-right: 30px;
      padding-bottom: 3px;
      text-decoration: none;
    }
    .selected{
      border-bottom: 1px solid #000000;
    }
  }
}

/* Home Page */

main{
  display: flex;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: -.01em;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: solid 1.8px #1e393244;

  .main button{
    font-size: 16px;
    padding: 7px 15px;
  }
  
  div{
    width: 100%;

    h3{
      font-size: 38px;
      letter-spacing: 5px;
      margin-bottom: 27px;
    }

    a{
      color: inherit;

      &:hover{
        text-decoration: none;
      }
    }

    p{
     padding-bottom: 10px;
    }
  }
}

.covid{
  background-color: #d4e9e2;
  font-size: 19px;
  max-width: 1450px;
  margin-top: 10vh;
  margin-bottom: 30px;
  padding: 25px 0px 30px 0px;
}

.chilly{
  background-color: #1e3932;
  color: #fff;
  max-width: 1450px;
  margin-bottom: 30px;
  padding: 25px 0px 30px 0px;
}

.product_showcase{
  display: grid;
  grid-template-columns: 1.2fr 1fr;
  background-color: #ebdbc8;
  color: #1e3932;
  max-width: 1450px;
  margin-bottom: 30px;

  .content{
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  img{
    width: 100%;
    margin-right: auto;
  }

  button{
    margin-top: 19px;
    background-color: #dbccb500;
  }
}

.v2{
  background-color: #1e3932;
  color: #fff;
  margin-bottom: 10px;

  button{
    color: #fff;
    border-color: #fff;

    &:hover{
      background-color: rgba(255, 255, 255, 0.123);
    }
  } 
}

.products_grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 35px;
  max-width: 1450px;
  padding: 20px 0px 30px 0px;

  img{
    width: 100%;
  }

  .item{
    background-color: #d4e9e2;
  }

  .content{
    padding: 0px 40px 0px 40px;
    display: grid;
    grid-template-rows: 90px 135px 80px;


    h3{
      font-size: 23px;
      letter-spacing: 1px;
      margin-bottom: 27px;
      padding-top: 10px;
    }

    p{
      font-size: 20px;
    }

    a{
      padding-top: 10px;
    }

    .cta{

        button{
          background-color: rgba(255, 255, 255, 0.089);
        &:hover{
          background-color: rgba(155, 151, 145, 0.116);
        }
      }
    }  
  }
}

.v3{
    background-color: #d4e9e2;
    padding-top: 0px;

  .content{
    padding: 20px 30px;

    h3{
      font-size: 23px;
      letter-spacing: 1px;
      margin-bottom: 27px;
    }

    p{
      font-size: 20px;
    }
  }
}

.disclaimer{
  font-size: 14px;
  margin-bottom: 30px;
}

/* MENU PAGE */

.menu{
  margin-top: 17vh;;
  display: grid;
  grid-template-columns: 150px 1fr;
  padding-left: 125px;
  max-width: none;
  overflow-y: hidden;
  
  .first_list_of_products{
    padding-top: 25px;
  }

  ul{
    padding-bottom: 20px;
    font-size: 16px;
    list-style: none;
    text-align: left;
    letter-spacing: .5px;

    p{
      font-weight: 600;
      margin-bottom: 10px;
      font-size: 18px;
    }

    li{
      padding-bottom: 15px;

      a{
        text-decoration: none;
        color: #00000086;

        &:hover{
          color: #000000;
        }
      }
    }
  }

  .selection{
    display: flex;
    flex-direction: column;
    padding: 22px 80px 0px 120px;
    letter-spacing: .4px;
    max-width: 1880px;
    width: 100%;

    div{
      margin: 0;
      padding: 0;
    }

    .selection_h1{
      font-size: 28px;
      display: flex;
      justify-content: flex-start;
      padding-bottom: 48px;
    }

    .selection_h2{
      font-size: 24px;
      display: flex;
      justify-content: flex-start;
      border-bottom: 1px solid #00000017;
      padding-bottom: 16px;
    }

    .selection_container{
      display: grid;
      grid-template-columns: 1fr 1fr;
      padding-top: 32px;

      a{
        text-decoration: none;
        margin-bottom: 30px;

        .item{
          display: inline;
          flex-direction: row;
          align-items: center;

          .item_content{
            display: flex;

            img{
              max-height: 112px;
              border-radius: 50%;
            }

            h2{
              display: flex;
              justify-content: flex-start;
              align-items: center;
              text-align: left;
              font-size: 19px;
              font-weight: 400;
              padding-left: 20px;
            }
          }
        }
      }
    }
    
    .next_in_menu{
      padding-top: 40px;
    }
  }
}

/* FEATURED */

.new_leaf{
  color: #1e3932;
  letter-spacing: 8px;
  margin: 20px 0px;
  .h1_go_up{
    transform: translateY(-10px);
  }
}

.products_grid{
  grid-gap: 32px;

  .featured{
    background-color: #ebdbc8;

    .content{
      grid-template-rows: 90px 100px 85px;
    }
  }

  .edible{
    background-color: #1e3932;
    color: #fff;

    .cta{

        button{
          border-color: #fff;
          color: #fff;
          background-color: rgba(255, 255, 255, 0);
        &:hover{
          background-color: rgba(255, 255, 255, 0.123);
        }
      }
    }  
  }
}

/* GIFT CARDS */

.main_gift{
  padding-top: 100px;
  overflow-x: hidden;

  .gift_cards{
    height: 100%;
    width: 100%;
    z-index: 1;
    margin-left: 220px;
    padding-top: 10px;

    &.first{
      padding-bottom: 30px;
    }

    .cards_category{
      font-weight: 700;
      font-size: 7px;
      letter-spacing: 1.2px;
      display: flex;
      padding: 20px 0px 30px 0px;
      margin-left: 10px;
    }

    .carousel{
      display: inline;
      padding: 30px 0px;

      .slider{
        display: inline-flex;
        align-items: center;
        justify-content: center;

        .carousel_imgs{
          display: flex;
          transition: ease-out 0.3s;
          
          .carousel_link{
            margin: 0px 10px;
            border-radius: 8%;

            img{
              display: flex;
              width: 20vw;
              box-shadow: 0 2px 3px rgba(0, 0, 0 , 0.24);
              transition: ease-out 0.25s;
              border-radius: 8%;

              &:hover{
                transform: translateY(-8px);
                box-shadow: 0 6px 6px rgba(0, 0, 0 , 0.14);

              }
            }

            &.faded{
              pointer-events: none;
              opacity: 0.2;
              cursor: progress;
              background: #000000;
            }
          } 
        }
        
        .slider_btn{
          position: absolute;
          z-index: 150;
          font-size: 16px;
          color: #00000094;
          font-weight: 100;
          border-radius: 50%;
          border: none;
          background: white;
          min-width: 42px;
          height: 42px;
          cursor: pointer;
          overflow: hidden;
          box-shadow: 0 0 5px 3px rgba(85, 85, 85, 0.164);

          &.hidden{
            display: none;
          }

          &.prev{
            left: 155px;

            i{
              transform: translate(-1.5px, 1.3px);
            }
          }

          &.next{
            right: 25px;

            i{
              transform: translate(1px, 1.3px);
            }
          }
        }
      }
    }
  }

  .already_have{
    display: inline-flex;
    background: #d4e9e2;
    padding-left: 120px;
    align-items: center;
    height: 115px;
    
    h1{
      padding-right: 10px;
      font-size: 24px;
      font-weight: 600;
    }

    h2{
      padding-right: 10px;
      font-size: 19px;
      font-weight: 500;

      i{
        color: #af851186;
      }
    }
  }

  .gift_bulk{
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    background-color: rgba(249,249,249,255);
    height: 375px;
    padding-left: 120px;
    margin-top: 30px;

    img{
      width: 375px;
      margin-right: 45px;
    }

    .desc{
      text-align: left;
      width: 270px;

      h3{
        font-size: 23px;
        letter-spacing: .6px;
        font-weight: 500;
        padding-bottom: 20px;
        margin: 0;
      }

      p{
        font-size: 16px;
        opacity: .7;
        letter-spacing: .4px;
      }

      button{
        margin: 9px;
      }
    }
  }

  .gift_support{
    display: flex;
    align-items: center;
    background-color: rgba(237,235,233,255);
    text-align: left;
    height: 224px;
    padding-left: 120px;
    margin-bottom: 40px;

    h3{
      font-size: 15px;
      letter-spacing: .6px;
      font-weight: 700;
      margin-bottom: 15px;
    }

    p{
      font-size: 16px;
      opacity: .7;
      letter-spacing: .4px;
      max-width: 400px;
      margin-bottom: 5px;
    }

    button{
        margin: 9px;
      }
  }
}

/* FOOTER */

footer{
  padding: 40px 5%;
  .details{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 30px;
    text-align: left;

    ul{
      list-style: none;

      p{
        font-weight: 500;
        font-size: 20px;
        padding-bottom: 40px;
      }

      li{
        padding-bottom: 25px;
        font-weight: 500;
        font-size: 16px;

        a{
          text-decoration: none;
          color: #000000a2;

          &:hover{
            color: #000000;
          }
        }
      }
    }
  }

  .line{
    border: 0;
    border-top: 2px solid #00000023;
    margin: 10px auto;
    max-width: 100%;
  }

  .second_layer{
    padding: 25px 30px 30px 37px;

    .social_media{
      font-size: 30px;
      margin-bottom: 30px;
      
      a{
        width: 30px;
        height: 30px;
        color: #000000;
        transition: all 0.3s ease 0s;
        border: hidden 1px;
        margin: 10px;
        padding: 0px;
        border-radius: 50%;
        
        align-items: center;

        &:hover{
          background-color: #00000017;
          margin: 0px;
          padding: 10px;
        }
      }
    }

    .legal{
      display: flex; 
      margin-bottom: 30px; 

      a{
        color: #000000;
        text-decoration: none;
        font-size: 17px;
        padding-right: 20px;
        border-right: 1px solid #00000050;
        margin-right: 20px;

        &:hover{
          text-decoration: underline;
        }
      }

      .no_border{
          border-right: none;
      }
    }

    .copyright{
      padding-bottom: 0px;
    }
  }
}

/* fixed item in store chceck */

.item_availability{
  display: grid;
  grid-template-columns: 395px 1fr;
  bottom: 0;
  width: 100%;
  position: sticky;
  height: 94px;
  background-color: #1e3932;
  letter-spacing: .6px;

  .availability_content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1760px;

      a{
      color: rgba(255, 255, 255, 0.61);
      text-decoration: none;
      font-size: 16px;

      .strong{
        color: #fff;
        font-weight: 600;
        margin-top: 4px;
      }

      .mobile{
        display: none;
      }
    }

    .location{ 
      height: 54px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      

      a{
        width: 240px;
        display: flex;
        justify-content: space-between;
        padding-bottom: 8px;
        border-bottom: 1.6px solid rgba(255, 255, 255, 0.315);

        i{
          font-size: 11px;
          transform: translateY(10px);
        }
      }
    }

    .cart{
      transform: translateY(-3px);
      i{
        font-size: 33px;
        padding-right: 80px;
      }
    }
  }
}


/* MEDIA QUERIES */

// Animations

@keyframes ripple {
  to {
    transform: scale(4);
    opacity: 0;
  }
}

// Responsiveness

@media screen and (min-width: 816px) {

  //reusable

  header{
    .hamburger_menu{
      display: none;
    }
  }

  .footer_info{
    .heading{
      button{
        display: none;
      }
    }
  }
}

@media screen and (max-width: 1000px) {

  //gift cards page

  .main_gift{

    .gift_cards{
      margin-left: 7vw;

      .carousel .slider{
    
        .slider_btn.prev{
          left: 7vw;
        }

        .carousel_imgs .carousel_link img{
          width: 27vw;
        }
      }
    }

    .already_have{
      padding-left: 5vw;
    }
  }

  //menu page

  .menu{

    .selection{
      display: flex;
      flex-direction: column;

      .last_in_menu{
        margin-bottom: 30px;
      }

      .selection_h2{
        font-size: 18px;
      }

      .selection_container{
        display: flex;
        flex-direction: column;

        a{
          margin-bottom: 1.5vh;

          .item{

            .item_content{
              height: 12vh;
            }
          }
        }
      }
    }
  }

  .item_availability{
    display: flex;
    justify-content: center;
    height: 74px;

    .space{
      display: none;
    }

    .availability_content{
      width: 100%;

      .location{ 
        margin-left: 125px;
      }
    }
  }
}

@media screen and (max-width: 815px) {

  //index.html

  .product_showcase{
    display: flex;
    flex-direction: column;

    &.v1{
      flex-direction: column-reverse;
    }

    img{
      width: 100%;
      margin-bottom: 20px;
    }

    a{
      margin-bottom: 25px;
    }
  }

  .products_grid{

    .content{
      grid-template-rows: 130px 195px 80px;
    }
  }

  //gift.cards.html

  .main_gift{

    .gift_bulk{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      height: 100%;
      padding: 20px 0px 20px 5vw;

      .desc{
        margin-top: 15px;
      }
    }
    
    .gift_support{
      padding-left: 5vw;
    }
  }

  //menu.html

  .sub_nav_stripe{
    display: none;
  }

  .menu{
    margin-top: 12vh;;
    padding-left: 6vw;
    overflow-x: hidden;
  
    .list_of_products{
      display: none;
    }

    .selection{
      display: flex;
      flex-direction: column;
      padding: 0px;
      width: 95vw;

      .selection_h1{
        font-size: 26px;
        padding-bottom: 18px;
      }

      .last_in_menu{
        margin-bottom: 30px;
      }

      .selection_h2{
        font-size: 18px;
      }

      .selection_container{
        display: flex;
        flex-direction: column;

        a{
          margin-bottom: 1.5vh;

          .item{

            .item_content{
              height: 8vh;
            }
          }
        }
      }
    }
  }

  .item_availability{
    display: flex;
    justify-content: center;
    height: 74px;

    .space{
      display: none;
    }

    .availability_content{
      width: 100%;
      margin: 0 16px;

      a{
        font-size: 14px;
        font-weight: 600;

        .location_txt{
          display: inline-flex;

          .light{
            display: none;
          }

          .strong{
            display: none;
          }

          .mobile{
            display: flex;
          }
        }
      }

      .location{ 
        height: 54px;
        margin-left: 0px;

        a{
          width: 85vw;

          i{
            transform: translateY(-1px);
          }
        }
      }

      .cart i{
        padding-right: 0px;
      }
    }
  }

  /* FEATURED */

  .new_leaf{
    color: #1e3932;
    letter-spacing: 8px;
    margin: 20px 0px;
    .h1_go_up{
      transform: translateY(-10px);
    }
  }


  //reusable

  .lock{
    overflow: hidden;
  }

  .overlay_here{
    background-color: none;
    transition: background-color .1s ease;

    &.overlay--active{
      position: fixed; /* Sit on top of the page content */
      width: 100%; /* Full width (cover the whole page) */
      height: 100%; /* Full height (cover the whole page) */
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.288); /* Black background with opacity */
      z-index: 20; /* Specify a stack order in case you're using a different order for other elements */
      cursor: default; /* Add a pointer on hover */
      transition: background-color .1s ease;
      overflow: hidden;
    }
  }

  header{

    .nav_stick{
      justify-content: space-between;

      .kisz{
        display: none;
      }

      .hamburger_menu{

        $dark: rgba(0,0,0,.58);
        $light: #FFFFFF;

        .hamburger{
          padding: 10px;
          display: inline-flex;
          cursor: pointer;
          background-color: transparent;
          border: none;
          margin: none;
          border-radius: 50%;
          transition: background-color 0.3s ease;

          &:hover{
            background-color: #00000017;
          }
        }

        .navigation{
          transition: transform .3s .1s ease-in-out;
        }

        .hamburger__box{
          width: 24px;
          height: 24px;
          display: inline-block;
          position: relative;
        }

        @mixin hamburger-line{

          width: 20px;
          height: 2px;
          background-color: $dark;
          position: absolute;
        }

        .hamburger__inner{
          @include hamburger-line;

          left: 2px;
          top: 50%;
          transform: translateY(-50%);
          transition: background-color .1s .2s ease-in-out;
        }

        .hamburger__inner::before,
        .hamburger__inner::after {
          @include hamburger-line;
          
          content: '';
          left: 0;
          transition: transform .2s .2s ease-in-out;
        } 

        .hamburger__inner::before{
          top: -6px;
        }

        .hamburger__inner::after{
          top: 6px;
        }

        .hamburger--active .hamburger__inner{
          background-color: transparent;
        }

        .hamburger--active .hamburger__inner:before{
          transform: translateY(6px) rotate(45deg);
        }

        .hamburger--active .hamburger__inner:after{
          transform: translateY(-6px) rotate(-45deg);
        }

        .navigation{
          height: 100vh;
          width: 75vw;
          background-color: $light;
          position: absolute;
          top: 10.1vh;
          right: 0;
          transform: translateX(75vw);

          &.navigation--active{
            transform: translateX(0px);
          }

          .navigation__list{
            padding-top: 32px;
            list-style: none;
            

            .links_hamburger{
              padding-bottom: 20px;
              font-size: 20px;
              display: flex;
              flex-direction: column;

              .navigation__item{
                color: #000000;
                padding: 16px 32px;
                text-align: left;
                font-size: 20px;
                
              }

              a{
                width: 100%;
                text-decoration: none;
                color: $dark;
              }

              button{
                display: inline-flex;
                justify-content: space-between;
                border: none;
                cursor: pointer;

                &.clear{
                  background: $light;
                  width: 100%;

                  i{
                    transform: translateX(-12px);
                  }
                }

                i{
                  font-size: 16px;
                }
              }
            }

            .line{
              margin-left: 6%;
              margin-right: 6%;
              margin-bottom: 32px;
              border-bottom: solid 2.3px #000000;
              width: 90%;
              opacity: .08;
            }

            .btns_hamburger{
              display: flex;
              flex-direction: column;
              margin: 0 20px;

              .sign{
                margin-bottom: 20px;

                button{
                  font-size: 14px;
                  padding: 7px 16px;
                }
              }

              .geo a{
                color: #000000;
                text-decoration: none;
                margin-left: 15px;
                transition: all 0.3s ease 0s;

                &:hover{
                  color: #008248;
                }
              }
              
            }
          }
        }

        .second{

          .fade{
            background-color: #47474711;
            border-bottom-right-radius: 50px;
            border-top-right-radius: 50px;
            width: 97%;

            i{
              transform: translateX(2px);
            }
          }

          &.second--active{
            transform: translateX(0px);
          }
        }
      }
    }
  }

  footer{

    .details{
      display: flex;
      flex-direction: column;
      margin-left: 40px;

      .heading{
        display: flex;
        justify-content: space-between;
        text-align: center;
        cursor: pointer;
        z-index: 1200;
        background-color: #fff;

        p{
          padding: 0px;
          margin-bottom: 30px;
        }

        button{
          border: none;
          background: none;
          height: 40px;
          width: 40px;
          cursor: pointer;
          transition: all 0.3s ease 0s;
          border-radius: 50%;

          &:hover{
            background-color: #00000017;
          }

          i{
            font-size: 18px;
          }

          &.rotate{
            transform: rotate(180deg);
          }
        }
      }

      .list_hidden{
        display: none;
      }
    }

    .second_layer{

      .legal{
        flex-direction: column;

        a{
          border: none;
          margin-bottom: 20px;
        }
      }
    }
  }
}

@media screen and (max-width: 700px) {

  //gift cards page

  .main_gift{

    .gift_cards{
      margin-left: 7vw;
    }

    .already_have{
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 21vh;

      h1, h2, a{
        margin-bottom: 10px;
      }
    }
  }

}

@media screen and (max-width: 600px) {

  //index.html

  .products_grid{
    display: flex;
    flex-direction: column;
    
    .content{
      display: flex;
      flex-direction: column;

      a{
        margin-bottom: 25px;
      }
    }
  }
}