/* GLOBAL */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: SoDoSans, Helvetica Neue,Helvetica,Arial,sans-serif;
}

/* NAV */
header {
  border-bottom: solid 1.6px #1e39322d;
}

header .nav_stick {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0px 15px;
  position: fixed;
  top: 0;
  background-color: #fff;
  border-bottom: 1.6px solid #0000002d;
  width: 100%;
  height: 10.1vh;
  max-width: none;
  z-index: 100;
}

header .nav_stick .bam a .logo {
  max-height: 50px;
  margin: 22px 25px 20px 25px;
  padding-right: 10px;
}

header .nav_stick .kisz {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100px;
}

header .nav_stick .kisz .nav_selected {
  margin: 0px;
  padding: 0px;
  border-bottom: 5px solid #008248;
}

header .nav_stick .kisz .lift {
  border-bottom: 5px solid #00824800;
}

header .nav_stick .kisz li, header .nav_stick .kisz a, header .nav_stick .kisz button {
  font-weight: 750;
  font-size: 14px;
  text-decoration: none;
  color: #000000;
}

header .nav_stick .kisz li:hover, header .nav_stick .kisz a:hover, header .nav_stick .kisz button:hover {
  color: #008248;
}

header .nav_stick .kisz .nav_links .nav_link_2 {
  margin-right: 20px;
  padding: 4vh 0px;
}

header .nav_stick nav {
  margin-right: auto;
  padding-left: 0px;
}

header .nav_stick nav .nav_links {
  list-style: none;
  letter-spacing: 1.3px;
  margin-left: 0px;
}

header .nav_stick nav .nav_links li {
  display: inline-block;
  margin-right: 20px;
}

header .nav_stick nav .nav_links a {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

header .nav_stick nav .nav_links a:hover {
  color: #008248;
}

header .nav_stick .geo i {
  font-size: 20px;
  margin-right: 12px;
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

header .nav_stick .geo a {
  margin-right: 20px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

header .nav_stick .geo a:hover {
  color: #008248;
}

.cta {
  margin-left: 20px;
  padding: 8px 16px;
  background-color: rgba(255, 255, 255, 0);
  border: solid 1.5px #000000;
  border-radius: 50px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-transform: translateX(-10px);
          transform: translateX(-10px);
  font-weight: 700;
  font-size: 16px;
}

.cta.black {
  background-color: #000000;
  color: #fff;
}

.cta.black:hover {
  background-color: #252525c4;
}

.cta.transparent {
  background-color: #00000000;
  color: #000000;
}

.cta.transparent:hover {
  background-color: #3131311a;
}

.cta.transparent_contrast {
  background-color: #00000000;
  color: #ffffff;
  border-color: #fff;
}

.cta.transparent_contrast:hover {
  background-color: #bdbdbd1a;
}

.sub_nav_stripe {
  position: fixed;
  top: 10vh;
  max-width: initial;
  margin: 0px;
  padding: 0px;
  font-size: 13px;
  background-color: whitesmoke;
  border-bottom: 1px solid #00000023;
}

.sub_nav_stripe .sub_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 13px 0px 13px 125px;
  padding: 0px;
}

.sub_nav_stripe .sub_nav a {
  margin-right: 30px;
  padding-bottom: 3px;
  text-decoration: none;
}

.sub_nav_stripe .sub_nav .selected {
  border-bottom: 1px solid #000000;
}

/* Home Page */
main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: -.01em;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: solid 1.8px #1e393244;
}

main .main button {
  font-size: 16px;
  padding: 7px 15px;
}

main div {
  width: 100%;
}

main div h3 {
  font-size: 38px;
  letter-spacing: 5px;
  margin-bottom: 27px;
}

main div a {
  color: inherit;
}

main div a:hover {
  text-decoration: none;
}

main div p {
  padding-bottom: 10px;
}

.covid {
  background-color: #d4e9e2;
  font-size: 19px;
  max-width: 1450px;
  margin-top: 10vh;
  margin-bottom: 30px;
  padding: 25px 0px 30px 0px;
}

.chilly {
  background-color: #1e3932;
  color: #fff;
  max-width: 1450px;
  margin-bottom: 30px;
  padding: 25px 0px 30px 0px;
}

.product_showcase {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1.2fr 1fr;
      grid-template-columns: 1.2fr 1fr;
  background-color: #ebdbc8;
  color: #1e3932;
  max-width: 1450px;
  margin-bottom: 30px;
}

.product_showcase .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.product_showcase img {
  width: 100%;
  margin-right: auto;
}

.product_showcase button {
  margin-top: 19px;
  background-color: #dbccb500;
}

.v2 {
  background-color: #1e3932;
  color: #fff;
  margin-bottom: 10px;
}

.v2 button {
  color: #fff;
  border-color: #fff;
}

.v2 button:hover {
  background-color: rgba(255, 255, 255, 0.123);
}

.products_grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 35px;
  max-width: 1450px;
  padding: 20px 0px 30px 0px;
}

.products_grid img {
  width: 100%;
}

.products_grid .item {
  background-color: #d4e9e2;
}

.products_grid .content {
  padding: 0px 40px 0px 40px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 90px 135px 80px;
      grid-template-rows: 90px 135px 80px;
}

.products_grid .content h3 {
  font-size: 23px;
  letter-spacing: 1px;
  margin-bottom: 27px;
  padding-top: 10px;
}

.products_grid .content p {
  font-size: 20px;
}

.products_grid .content a {
  padding-top: 10px;
}

.products_grid .content .cta button {
  background-color: rgba(255, 255, 255, 0.089);
}

.products_grid .content .cta button:hover {
  background-color: rgba(155, 151, 145, 0.116);
}

.v3 {
  background-color: #d4e9e2;
  padding-top: 0px;
}

.v3 .content {
  padding: 20px 30px;
}

.v3 .content h3 {
  font-size: 23px;
  letter-spacing: 1px;
  margin-bottom: 27px;
}

.v3 .content p {
  font-size: 20px;
}

.disclaimer {
  font-size: 14px;
  margin-bottom: 30px;
}

/* MENU PAGE */
.menu {
  margin-top: 17vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 150px 1fr;
      grid-template-columns: 150px 1fr;
  padding-left: 125px;
  max-width: none;
}

.menu .first_list_of_products {
  padding-top: 25px;
}

.menu ul {
  padding-bottom: 20px;
  font-size: 16px;
  list-style: none;
  text-align: left;
  letter-spacing: .5px;
}

.menu ul p {
  font-weight: 600;
  margin-bottom: 10px;
  font-size: 18px;
}

.menu ul li {
  padding-bottom: 15px;
}

.menu ul li a {
  text-decoration: none;
  color: #00000086;
}

.menu ul li a:hover {
  color: #000000;
}

.menu .selection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 22px 80px 0px 120px;
  letter-spacing: .4px;
  max-width: 1880px;
  width: 100%;
}

.menu .selection div {
  margin: 0;
  padding: 0;
}

.menu .selection .selection_h1 {
  font-size: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-bottom: 48px;
}

.menu .selection .selection_h2 {
  font-size: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  border-bottom: 1px solid #00000017;
  padding-bottom: 16px;
}

.menu .selection .selection_container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  padding-top: 32px;
}

.menu .selection .selection_container a {
  text-decoration: none;
  margin-bottom: 30px;
}

.menu .selection .selection_container a .item {
  display: inline;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu .selection .selection_container a .item .item_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu .selection .selection_container a .item .item_content img {
  max-height: 112px;
  border-radius: 50%;
}

.menu .selection .selection_container a .item .item_content h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
  font-size: 19px;
  font-weight: 400;
  padding-left: 20px;
}

.menu .selection .next_in_menu {
  padding-top: 40px;
}

/* FEATURED */
.new_leaf {
  color: #1e3932;
  letter-spacing: 8px;
  margin: 20px 0px;
}

.new_leaf .h1_go_up {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.products_grid {
  grid-gap: 32px;
}

.products_grid .featured {
  background-color: #ebdbc8;
}

.products_grid .featured .content {
  -ms-grid-rows: 90px 100px 85px;
      grid-template-rows: 90px 100px 85px;
}

.products_grid .edible {
  background-color: #1e3932;
  color: #fff;
}

.products_grid .edible .cta button {
  border-color: #fff;
  color: #fff;
  background-color: rgba(255, 255, 255, 0);
}

.products_grid .edible .cta button:hover {
  background-color: rgba(255, 255, 255, 0.123);
}

/* GIFT CARDS */
.main_gift {
  padding-top: 100px;
  overflow-x: hidden;
}

.main_gift .gift_cards {
  height: 100%;
  width: 100%;
  z-index: 1;
  margin-left: 220px;
  padding-top: 10px;
}

.main_gift .gift_cards.first {
  padding-bottom: 30px;
}

.main_gift .gift_cards .cards_category {
  font-weight: 700;
  font-size: 7px;
  letter-spacing: 1.2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 0px 30px 0px;
  margin-left: 10px;
}

.main_gift .gift_cards .carousel {
  display: inline;
  padding: 30px 0px;
}

.main_gift .gift_cards .carousel .slider {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main_gift .gift_cards .carousel .slider .carousel_imgs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
}

.main_gift .gift_cards .carousel .slider .carousel_imgs .carousel_link {
  margin: 0px 10px;
  border-radius: 8%;
}

.main_gift .gift_cards .carousel .slider .carousel_imgs .carousel_link img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 20vw;
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.24);
          box-shadow: 0 2px 3px rgba(0, 0, 0, 0.24);
  -webkit-transition: ease-out 0.25s;
  transition: ease-out 0.25s;
  border-radius: 8%;
}

.main_gift .gift_cards .carousel .slider .carousel_imgs .carousel_link img:hover {
  -webkit-transform: translateY(-8px);
          transform: translateY(-8px);
  -webkit-box-shadow: 0 6px 6px rgba(0, 0, 0, 0.14);
          box-shadow: 0 6px 6px rgba(0, 0, 0, 0.14);
}

.main_gift .gift_cards .carousel .slider .carousel_imgs .carousel_link.faded {
  pointer-events: none;
  opacity: 0.2;
  cursor: progress;
  background: #000000;
}

.main_gift .gift_cards .carousel .slider .slider_btn {
  position: absolute;
  z-index: 150;
  font-size: 16px;
  color: #00000094;
  font-weight: 100;
  border-radius: 50%;
  border: none;
  background: white;
  min-width: 42px;
  height: 42px;
  cursor: pointer;
  overflow: hidden;
  -webkit-box-shadow: 0 0 5px 3px rgba(85, 85, 85, 0.164);
          box-shadow: 0 0 5px 3px rgba(85, 85, 85, 0.164);
}

.main_gift .gift_cards .carousel .slider .slider_btn.hidden {
  display: none;
}

.main_gift .gift_cards .carousel .slider .slider_btn.prev {
  left: 155px;
}

.main_gift .gift_cards .carousel .slider .slider_btn.prev i {
  -webkit-transform: translate(-1.5px, 1.3px);
          transform: translate(-1.5px, 1.3px);
}

.main_gift .gift_cards .carousel .slider .slider_btn.next {
  right: 25px;
}

.main_gift .gift_cards .carousel .slider .slider_btn.next i {
  -webkit-transform: translate(1px, 1.3px);
          transform: translate(1px, 1.3px);
}

.main_gift .already_have {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background: #d4e9e2;
  padding-left: 120px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 115px;
}

.main_gift .already_have h1 {
  padding-right: 10px;
  font-size: 24px;
  font-weight: 600;
}

.main_gift .already_have h2 {
  padding-right: 10px;
  font-size: 19px;
  font-weight: 500;
}

.main_gift .already_have h2 i {
  color: #af851186;
}

.main_gift .gift_bulk {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background-color: #f9f9f9;
  height: 375px;
  padding-left: 120px;
}

.main_gift .gift_bulk img {
  width: 375px;
  margin-right: 45px;
}

.main_gift .gift_bulk .desc {
  text-align: left;
  width: 270px;
}

.main_gift .gift_bulk .desc h3 {
  font-size: 23px;
  letter-spacing: .6px;
  font-weight: 500;
  padding-bottom: 20px;
  margin: 0;
}

.main_gift .gift_bulk .desc p {
  font-size: 16px;
  opacity: .7;
  letter-spacing: .4px;
}

.main_gift .gift_bulk .desc button {
  margin: 9px;
}

.main_gift .gift_support {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #edebe9;
  text-align: left;
  height: 224px;
  padding-left: 120px;
  margin-bottom: 40px;
}

.main_gift .gift_support h3 {
  font-size: 15px;
  letter-spacing: .6px;
  font-weight: 700;
  margin-bottom: 15px;
}

.main_gift .gift_support p {
  font-size: 16px;
  opacity: .7;
  letter-spacing: .4px;
  max-width: 400px;
  margin-bottom: 5px;
}

.main_gift .gift_support button {
  margin: 9px;
}

/* FOOTER */
footer {
  padding: 40px 5%;
}

footer .details {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  grid-gap: 30px;
  text-align: left;
}

footer .details ul {
  list-style: none;
}

footer .details ul p {
  font-weight: 500;
  font-size: 20px;
  padding-bottom: 40px;
}

footer .details ul li {
  padding-bottom: 25px;
  font-weight: 500;
  font-size: 16px;
}

footer .details ul li a {
  text-decoration: none;
  color: #000000a2;
}

footer .details ul li a:hover {
  color: #000000;
}

footer .line {
  border: 0;
  border-top: 2px solid #00000023;
  margin: 10px auto;
  max-width: 100%;
}

footer .second_layer {
  padding: 25px 30px 30px 37px;
}

footer .second_layer .social_media {
  font-size: 30px;
  margin-bottom: 30px;
}

footer .second_layer .social_media a {
  width: 30px;
  height: 30px;
  color: #000000;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  border: hidden 1px;
  margin: 10px;
  padding: 0px;
  border-radius: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .second_layer .social_media a:hover {
  background-color: #00000017;
  margin: 0px;
  padding: 10px;
}

footer .second_layer .legal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
}

footer .second_layer .legal a {
  color: #000000;
  text-decoration: none;
  font-size: 17px;
  padding-right: 20px;
  border-right: 1px solid #00000050;
  margin-right: 20px;
}

footer .second_layer .legal a:hover {
  text-decoration: underline;
}

footer .second_layer .legal .no_border {
  border-right: none;
}

footer .second_layer .copyright {
  padding-bottom: 0px;
}

/* fixed item in store chceck */
.item_availability {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 395px 1fr;
      grid-template-columns: 395px 1fr;
  bottom: 0;
  width: 100%;
  position: fixed;
  height: 94px;
  background-color: #1e3932;
  letter-spacing: .6px;
}

.item_availability .availability_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1760px;
}

.item_availability .availability_content a {
  color: rgba(255, 255, 255, 0.61);
  text-decoration: none;
  font-size: 16px;
}

.item_availability .availability_content a .strong {
  color: #fff;
  font-weight: 600;
  margin-top: 4px;
}

.item_availability .availability_content .location {
  height: 54px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.item_availability .availability_content .location a {
  width: 240px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 8px;
  border-bottom: 1.6px solid rgba(255, 255, 255, 0.315);
}

.item_availability .availability_content .location a i {
  font-size: 11px;
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}

.item_availability .availability_content .cart {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

.item_availability .availability_content .cart i {
  font-size: 33px;
  padding-right: 80px;
}

/* MEDIA QUERIES */
@-webkit-keyframes ripple {
  to {
    -webkit-transform: scale(4);
            transform: scale(4);
    opacity: 0;
  }
}
@keyframes ripple {
  to {
    -webkit-transform: scale(4);
            transform: scale(4);
    opacity: 0;
  }
}

@media screen and (max-width: 600px) {
  .products_grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .products_grid .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .products_grid .content a {
    margin-bottom: 25px;
  }
}

@media screen and (max-width: 810px) {
  .product_showcase {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .product_showcase.v1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .product_showcase img {
    width: 100%;
    margin-bottom: 20px;
  }
  .product_showcase a {
    margin-bottom: 25px;
  }
  .products_grid .content {
    -ms-grid-rows: 130px 195px 80px;
        grid-template-rows: 130px 195px 80px;
  }
  .lock {
    overflow: hidden;
  }
  .overlay_here {
    background-color: none;
    -webkit-transition: background-color .1s ease;
    transition: background-color .1s ease;
  }
  .overlay_here.overlay--active {
    position: fixed;
    /* Sit on top of the page content */
    width: 100%;
    /* Full width (cover the whole page) */
    height: 100%;
    /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.288);
    /* Black background with opacity */
    z-index: 20;
    /* Specify a stack order in case you're using a different order for other elements */
    cursor: default;
    /* Add a pointer on hover */
    -webkit-transition: background-color .1s ease;
    transition: background-color .1s ease;
    overflow: hidden;
  }
  header .nav_stick {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  header .nav_stick .kisz {
    display: none;
  }
  header .nav_stick .hamburger_menu .hamburger {
    padding: 10px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    cursor: pointer;
    background-color: transparent;
    border: none;
    margin: none;
    border-radius: 50%;
    -webkit-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;
  }
  header .nav_stick .hamburger_menu .hamburger:hover {
    background-color: #00000017;
  }
  header .nav_stick .hamburger_menu .navigation {
    -webkit-transition: -webkit-transform .3s .1s ease-in-out;
    transition: -webkit-transform .3s .1s ease-in-out;
    transition: transform .3s .1s ease-in-out;
    transition: transform .3s .1s ease-in-out, -webkit-transform .3s .1s ease-in-out;
  }
  header .nav_stick .hamburger_menu .hamburger__box {
    width: 24px;
    height: 24px;
    display: inline-block;
    position: relative;
  }
  header .nav_stick .hamburger_menu .hamburger__inner {
    width: 20px;
    height: 2px;
    background-color: rgba(0, 0, 0, 0.58);
    position: absolute;
    left: 2px;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    -webkit-transition: background-color .1s .2s ease-in-out;
    transition: background-color .1s .2s ease-in-out;
  }
  header .nav_stick .hamburger_menu .hamburger__inner::before,
  header .nav_stick .hamburger_menu .hamburger__inner::after {
    width: 20px;
    height: 2px;
    background-color: rgba(0, 0, 0, 0.58);
    position: absolute;
    content: '';
    left: 0;
    -webkit-transition: -webkit-transform .2s .2s ease-in-out;
    transition: -webkit-transform .2s .2s ease-in-out;
    transition: transform .2s .2s ease-in-out;
    transition: transform .2s .2s ease-in-out, -webkit-transform .2s .2s ease-in-out;
  }
  header .nav_stick .hamburger_menu .hamburger__inner::before {
    top: -6px;
  }
  header .nav_stick .hamburger_menu .hamburger__inner::after {
    top: 6px;
  }
  header .nav_stick .hamburger_menu .hamburger--active .hamburger__inner {
    background-color: transparent;
  }
  header .nav_stick .hamburger_menu .hamburger--active .hamburger__inner:before {
    -webkit-transform: translateY(6px) rotate(45deg);
            transform: translateY(6px) rotate(45deg);
  }
  header .nav_stick .hamburger_menu .hamburger--active .hamburger__inner:after {
    -webkit-transform: translateY(-6px) rotate(-45deg);
            transform: translateY(-6px) rotate(-45deg);
  }
  header .nav_stick .hamburger_menu .navigation {
    height: 100vh;
    width: 75vw;
    background-color: #FFFFFF;
    position: absolute;
    top: 10.1vh;
    right: 0;
    -webkit-transform: translateX(75vw);
            transform: translateX(75vw);
  }
  header .nav_stick .hamburger_menu .navigation.navigation--active {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  header .nav_stick .hamburger_menu .navigation .navigation__list {
    padding-top: 32px;
    list-style: none;
  }
  header .nav_stick .hamburger_menu .navigation .navigation__list .links_hamburger {
    padding-bottom: 20px;
    font-size: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header .nav_stick .hamburger_menu .navigation .navigation__list .links_hamburger .navigation__item {
    color: #000000;
    padding: 16px 32px;
    text-align: left;
    font-size: 20px;
  }
  header .nav_stick .hamburger_menu .navigation .navigation__list .links_hamburger a {
    width: 100%;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.58);
  }
  header .nav_stick .hamburger_menu .navigation .navigation__list .links_hamburger button {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border: none;
    cursor: pointer;
  }
  header .nav_stick .hamburger_menu .navigation .navigation__list .links_hamburger button.clear {
    background: #FFFFFF;
    width: 100%;
  }
  header .nav_stick .hamburger_menu .navigation .navigation__list .links_hamburger button.clear i {
    -webkit-transform: translateX(-12px);
            transform: translateX(-12px);
  }
  header .nav_stick .hamburger_menu .navigation .navigation__list .links_hamburger button i {
    font-size: 16px;
  }
  header .nav_stick .hamburger_menu .navigation .navigation__list .line {
    margin-left: 6%;
    margin-right: 6%;
    margin-bottom: 32px;
    border-bottom: solid 2.3px #000000;
    width: 90%;
    opacity: .08;
  }
  header .nav_stick .hamburger_menu .navigation .navigation__list .btns_hamburger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 20px;
  }
  header .nav_stick .hamburger_menu .navigation .navigation__list .btns_hamburger .sign {
    margin-bottom: 20px;
  }
  header .nav_stick .hamburger_menu .navigation .navigation__list .btns_hamburger .sign button {
    font-size: 14px;
    padding: 7px 16px;
  }
  header .nav_stick .hamburger_menu .navigation .navigation__list .btns_hamburger .geo a {
    color: #000000;
    text-decoration: none;
    margin-left: 15px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  header .nav_stick .hamburger_menu .navigation .navigation__list .btns_hamburger .geo a:hover {
    color: #008248;
  }
  header .nav_stick .hamburger_menu .second .fade {
    background-color: #47474711;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
    width: 97%;
  }
  header .nav_stick .hamburger_menu .second .fade i {
    -webkit-transform: translateX(2px);
            transform: translateX(2px);
  }
  header .nav_stick .hamburger_menu .second.second--active {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  footer .details {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 40px;
  }
  footer .details .heading {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-align: center;
    cursor: pointer;
    z-index: 1200;
    background-color: #fff;
  }
  footer .details .heading p {
    padding: 0px;
    margin-bottom: 30px;
  }
  footer .details .heading button {
    border: none;
    background: none;
    height: 40px;
    width: 40px;
    cursor: pointer;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    border-radius: 50%;
  }
  footer .details .heading button:hover {
    background-color: #00000017;
  }
  footer .details .heading button i {
    font-size: 18px;
  }
  footer .details .heading button.rotate {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  footer .details .list_hidden {
    display: none;
  }
  footer .second_layer .legal {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .second_layer .legal a {
    border: none;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 811px) {
  header .hamburger_menu {
    display: none;
  }
  .footer_info .heading button {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */